html,body{
	height: 100%;
}

a:hover{
	text-decoration: none;
}
.form-fullwidth-background{
	/*background-color: #D3D3D3;*/
	background-color: rgb(240,241,243);
}

.header-logo{
	margin-top: 60px;
}
.header-logo .brand img{
	margin-left: 25px;
}
.mobitop-form{
	margin-top: 50px;
	background-color: rgb(255,255,255);
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
}
.mobitop-form h3{
	text-align: center;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	font-family: sans-serif;
}
.form{
	padding: 5px;
}
.mobitop-form .form-group label,.mobitop-form .form-group input{
	padding:5px 2px 2px 2px;
	font-weight: 100;
}
.mobitop-form .form-group .form-control{
	border-radius:0 !important;
	border-color: 
}
.mobitop-form #emailid{
	background-color: rgb(253,251,226);
	    border-color:#736AFF;
	    font-size: 12px;
}
.mobitop-form #password{
	background-color: rgb(250,255,189);
	    border-color: #D1D0CE;
	    font-weight: bold;

}
.mobitop-form button{
	margin-top: 15px;
    height: 40px;
	/*background-color: rgb(214,40,40);*/
	background-color: rgb(0,175,240);
	color: #fff;
	padding: 5px;
	margin-bottom: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	.mobitop-form {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
	.mobitop-form {
		
}
}

/*index page styles*/

.navbar-nav li a{
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}

.navbar-header button .icon-bar{
	background-color: #fff;
}

.full-width-nav{
	background-color: #E53F51;
	height: 56px;
	position: static;
}
/*.navbar-nav li{
	padding: 2px 5px;
}*/

.navbar{
	z-index: 1030 !important;
}
.nav > li > a{
	display: inline-block;
	height: 100%;
    width: 100%;
    overflow: hidden;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color:transparent !important;
 }

.nav li .dropdown-menu{
	background-color: #E53F51;
	color: #fff;
}
/*.nav >li >ul >li:hover,.nav >li >ul >li:focus{
	
}*/
.nav > li > a:hover{
	background-color:transparent;
}


/* Bounce To Bottom */
.hvr-bounce-to-bottom{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom a:hover, .hvr-bounce-to-bottom a:focus, .hvr-bounce-to-bottom a:active {
  color: #E53F51;
  display:inline-block;
  height: 100%;
    width: 100%;
    cursor: pointer;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  color: #fff;
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.home-page{
	height: 100%;
}
.banner-home{
	background-color: #f0f0fb;
	width: 100%;
	height: auto;
}
.banner-home .mar-top-banner{
	margin-top: 64px;
}
.banner-text{
	text-transform: uppercase;
    padding: 50px 0 0 0;
    font-weight: 700;
}
.banner-text h2,.banner-text h3{
	/*font-size: 41px;*/
    color: #333;
    margin-bottom: 30px;
}
.banner-text h2 span{
	color: #E53F51;
	display: block;
	font-size: 35px;
}
.banner-text h3 {
    font-size: 20px;
    color: #333;
 }

.start-btn{
	background-color: #E53F51;
	color: #FFF;
	border:1px solid #FFF;
	padding: 15px 30px;
}

/*.start-btn:hover {
    border: 1px solid #FFF;
    background: #2a333b;
    color: #FFF;
}*/

/*Footer styles*/
footer{
	background-color: #f0f0fb;
	height: 65px;
	border-top: 1px solid #E53F51;
}
footer .footer-content{
	margin-top: 20px;
}
footer .footer-content p{	
	display: inline;
	font-size: 16px;
	padding: 7px;
}
.navabr{
		z-index: 1030;
	}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	nav{
		width: 100%;
		z-index:1030;
	}
	#navbar{
		background-color:#E53F51;
		margin-top: 6px;
		width: 100%;
		text-align: center;

	}
	/*.nav > li > a{
		color: #000;
		left: 0;
	}*/
	.banner-text{
		text-align: center;
	}
	footer .footer-content p{	
	font-size: 12px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
	.navbar{
		width: 744px;
	}

}

/*start Dashboard page styes*/
.search-devices {
        margin-top: 40px;
        margin-left: 30px;
    }
.search-devices .search-query {
        padding-right: 3px;
        padding-right: 4px;
        padding-left: 3px;
        padding-left: 4px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 .search-devices button {
        border: 0;
        background: none;
        position: relative;
        color:#555;
        font-size: 16px;
        /*background-color: #51E53F;*/
        background-color: rgb(240,241,243);
        border-radius: 0;
    }
 .search-devices button:hover,.search-devices button:focus{
 	background-color:  #E53F51;
 	color: #fff;
 }
.search-query:focus + button {
        z-index: 3;   
    }

.all-devices{
	margin-top: 30px;
}
.device{
	height: 401px;
	width: 250px;
	border:1px solid rgb(240,241,243);
	box-shadow: 1px 3px 6px 0px rgba(0,0,0,0.2);
	float: left;
	margin-left: 18px;
	border-radius: 0;

}
.device .panel-heading{
	background-color: rgb(240,241,243);
	color: #000;
	text-align: center;
}
.device-img img{
	height: 210px;
	margin-right: auto;
	margin-left: auto;
}
.device .panel-footer p{
	margin: 0 0 2px;
	text-align: center;
}
.device .btn{
	border-radius: 0;
}
.device .btn{
	/*background-color: #51E53F;*/
	/*background-color: #E53F51;*/
    color: #fff;
    font-size: 16px;
   /* width: 60px;*/
}

.device .btn a{
	color: #555;
	text-decoration: none;
}
.device .btn:hover,.device .btn:focus{
	background-color: #E53F51;
	color: #fff;
}

.device .btn:hover a,.device .btn:focus a{
	background-color: #E53F51;
	color: #fff;
}

.animated {
	animation-duration: 2s;
	animation-fill-mode: both;
}
/*end Dashboard page styes*/





